<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Tasks</title>
</head>
<body>
<h1>Enter a new task</h1>

<!--This is doing a POST to the /addTask page.  It is inserting the current task object-->
<form action="#" method="POST" th:action="@{/addTask}" th:object="${task}">
    <input type = "text" placeholder="task description" th:field="*{text}" />
    Urgent? <input type="checkbox" th:field="*{urgent}" />
    <br>
    <button id = "add-task">Add Task</button>

</form>

<a href="/allTasks">All Tasks</a>
</body>










</html>