<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Milligram stylesheet -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">



    <title>Create Tasks</title>
</head>
<body>
<h1>Enter a new task</h1>

<!--This is doing a POST to the /addTask page.  It is inserting the current task object-->
<form action="#" method="POST" th:action="@{/addTask}" th:object="${task}">
    <input type = "text" placeholder="task description" th:field="*{text}" />
    Urgent? <input type="checkbox" th:field="*{urgent}" />
    <br>
    <button id = "add-task">Add Task</button>

</form>

<a href="/allTasks">All Tasks</a>
</body>










</html>