<html xmlns:th="http://www.thymeleaf.org">
<head>

     Milligram stylesheet
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

     Custom stylesheet
    <link rel="stylesheet" href="css/styles.css" type="text/css">

    <title>All Tasks</title>

</head>
<body>

<h1>All the tasks</h1>



<h2 th:text= "${ tasks.size() } + ' task(s) to do' ">Tasks to Do!</h2>

<!--This is a table for all of the tasks...no matter how many there are-->
<ul>
    <li th:each="task : ${tasks}">
        <!--If the property is task.urgent, then it will insert the urgent.png next to the table entry-->
        <img class="urgent-icon" th:if="${task.urgent}" src="img/urgent.png">
        <span th:text="${task.text}"></span>
    </li>
</ul>

<a href="/">Add a new task</a>

</body>
</html>
